In [21]:
import pandas as pd
import numpy as np

In [22]:
train='https://raw.githubusercontent.com/massquantity/Kaggle-Titanic/master/Data/train.csv'
test='https://raw.githubusercontent.com/massquantity/Kaggle-Titanic/master/Data/test.csv'

In [43]:
df = pd.read_csv(train)

In [44]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [45]:
df['Age'] = df['Age'].fillna(df.Age.mean())

In [46]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])

In [47]:
df.Sex.value_counts()

1    577
0    314
Name: Sex, dtype: int64

In [50]:
le.classes_ # female = 0 , male =1

array(['female', 'male'], dtype=object)

In [52]:
# problem - build the decision tree 
y = df['Survived']
x = df[['Age','Sex','Fare']]

In [55]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [56]:
model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [58]:
model.score(x,y) # after the taking important fearture score of train data is 97.97%

0.9797979797979798

In [64]:
df1 = pd.read_csv(test)

In [65]:
df1.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [67]:
df1['Age'] = df1['Age'].fillna(df1.Age.mean())

In [68]:
df1['Sex']=le.fit_transform(df1['Sex'])

In [69]:
X = df1[['Age','Sex','Fare']]

In [70]:
y_pred=model.predict(x)

In [71]:
with open('tree1_titanic.dot','w') as f:
    f= tree.export_graphviz(model,out_file=f,feature_names=['Age','Sex','Fare'])