In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [33]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [35]:
from sklearn import tree

In [36]:
df.keys()

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [37]:
df.drop(['ID','ZIP Code'],axis=1,inplace=True)

In [38]:
x = df.drop('Personal Loan',axis=1)
y = df['Personal Loan']

In [39]:
df.shape

(5000, 12)

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Building Random Forest Model
-to find the important feature in data

In [41]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=1000 , max_features=2,oob_score=True)

In [42]:
rf_model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
print(' Training score or oob_score',rf_model.oob_score_)

 Training score or oob_score 0.98425

In [44]:
y_pred=rf_model.predict(x_test)

In [45]:
rf_model.score(x_test,y_test)

0.988

In [46]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.988

# Finding importnat feature

In [47]:
x.keys()

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [48]:
feature_list_x = ['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard']

In [49]:
for feature,imp in zip(feature_list_x , rf_model.feature_importances_):
    print(feature,imp)

Age 0.04793584039954418
Experience 0.047894536509116764
Income 0.34057938313887826
Family 0.09386735773781742
CCAvg 0.18847594474317728
Education 0.1514316390770454
Mortgage 0.047978577829903474
Securities Account 0.006307174132930055
CD Account 0.0563555166263604
Online 0.009431516040809895
CreditCard 0.009742513764416828

Here we can conclude that Income,CCAvg,Education are the important attribute for predicting bank loan classification . And other are less important

# Building  decision tree on imp feature

In [50]:
imp_feature_x = ['Income','CCAvg','Education']

In [51]:
x = df[imp_feature_x]
y = df['Personal Loan']

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [53]:
from sklearn import tree

In [55]:
model_tree=tree.DecisionTreeClassifier(max_depth=6) # assume  0,1 = n=2 , m = 3 feature

In [56]:
model_tree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

# visualising model

In [57]:
with open('loan_decision.dot','w') as f:
    f = tree.export_graphviz(model_tree,feature_names=imp_feature_x,out_file=f)

# writing rule for each leaf node

1] If Income <= 113.5 and CCAvg <= 2.95 and also Income <= 106.5 there are 2742 person which not getting loan.  

2] If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg <= 2.725 and CCAvg <= 1.95 and CCAvg <= 1.85 there are 35 who not get loan and 7 who get loan . 

3] If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg <= 2.725 and CCAvg <= 1.95 and CCAvg > 1.85 there are 1 person who get loan.

4]If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg <= 2.725 and CCAvg > 1.95 and CCAvg <= 2.45 there are 20 who not get loan

5] If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg <= 2.725 and CCAvg > 1.95 and CCAvg > 2.45  there 4 person who not get loan and 1 who get loan.

6] If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg > 2.725  and Income <= 110.5 there are  1 who get loan .

7]If Income <= 113.5 and CCAvg <= 2.95 and also Income > 106.5 and CCAvg > 2.725  and Income > 110.5  there are 1 who not get loan .

8]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg <= 3.55 and CCAvg <= 3.25 and CCAvg <= 3.15 there are 17 who not got loan and 5 got loan.

9]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg <= 3.55 and CCAvg <= 3.25 and CCAvg > 3.15  there are 11 who not get loan .

10]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg <= 3.55 and CCAvg > 3.25 and Education <= 2.5 there are 9 who not get loan  , 5 eho get loan.

11]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg <= 3.55 and CCAvg > 3.25 and Education > 2.5 thre are 3 who get loan.

12]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg > 3.55 and Income <= 88.5 and Income <= 81.5 there are 46 who not get loan 

13]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg > 3.55 and Income <= 88.5 and Income > 81.5 there are 23 who not get loan  , 3 who get loan.

14]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg > 3.55 and Income >  88.5 and CCAvg <= 4.2 there are 1 who not get loan and 3 who get loan.

15]If Income <= 113.5 and CCAvg > 2.95 and Income <= 91.5 and CCAvg > 3.55 and Income >  88.5 and CCAvg > 4.2 there 7 who not get loan.

16]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education <= 1.5
and CCAvg <= 4.25 and CCAvg <= 3.05 thhere are 2 who get loan .

17]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education <= 1.5
and CCAvg <= 4.25 and CCAvg > 3.05  there are 16 who not get loan and 7 who get loan.


18]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education <= 1.5
and CCAvg > 4.25 and Income <= 100.0 , there are 7 who not get loan and 1 who get loan.

19]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education <= 1.5
and CCAvg > 4.25 and Income > 100.0  there are 22 who not get loan.

20]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education > 1.5 and Education <= 2.5 and CCAvg <= 3.533 , there are 2 who not get loan and 3 who get loan.

21]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education > 1.5 and Education <= 2.5 and CCAvg > 3.533  there are 10 who got loan

22]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education > 1.5 and Education > 2.5 and CCAvg <= 4.65 there are 8 who not get loan and 5 who get loan.

23]If Income <= 113.5 and CCAvg > 2.95 and Income > 91.5 and Education > 1.5 and Education > 2.5 and CCAvg > 4.65 there are 4 who got loan

24] If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg <= 5.25
and Income <= 169.5 and CCAvg <= 4.05, there are 187 who not get loan and 16 who get loan.

25] If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg <= 5.25
and Income <= 169.5 and CCAvg > 4.05,there are 40 who not get loan and 6 who get loan.

26]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg <= 5.25
and Income > 169.5 and Income <= 179.5 and there are 15 who not get loan and 9 who get loan.

27]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg <= 5.25
and Income > 169.5 and Income > 179.5 and there are 30 who not get loan and 4 who get loan.

28]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg > 5.25
and CCAvg <= 5.65 and Income <= 134.0  there are 5 who not get loan and 1 who get loan.

29]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg > 5.25
and CCAvg <= 5.65 and Income > 134.0  there are 6 who get loan.

30]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg > 5.25
and CCAvg > 5.65 and CCAvg <= 6.55 there are 32 who not get loan and 5 who get loan.


31]If Income > 113.5 and Education <= 1.5 and CCAvg <= 6.633 and CCAvg > 5.25
and CCAvg > 5.65 and CCAvg > 6.55 there are 1 who get loan.



32]If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income <= 183.5
and CCAvg <= 6.95 and CCAvg <= 6.85 there are 14 who not get loan.

33] If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income <=183.5
and CCAvg <= 6.95 and CCAvg > 6.85 there are 7 who not get loan and 1 who get loan.

34]If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income <=183.5
and CCAvg > 6.95 there are 63 who not get loan.

35]If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income > 183.5
and Income <= 184.5 and CCAvg <= 7.8 there are 1 who get loan.

36]If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income > 183.5
and Income <= 184.5 and CCAvg > 7.8 there are 2 who not get loan.

37]If Income > 113.5 and Education <= 1.5 and CCAvg > 6.633 and Income > 183.5
and Income > 184.5  there are 11 who not get loan.

38]If Income > 113.5 and Education > 1.5 and Income <= 116.5 and CCAvg <= 3.6
CCAvg <= 0.55 there are 1 who  get loan.


39]If Income > 113.5 and Education > 1.5 and Income <= 116.5 and CCAvg <= 3.6
CCAvg > 0.55 and CCAvg <= 2.15 there are 7 who not get loan.

40]If Income > 113.5 and Education > 1.5 and Income <= 116.5 and CCAvg <= 3.6
CCAvg > 0.55 and CCAvg > 2.15 there are 4 who not get loan and 3 who get loan.

41]If Income > 113.5 and Education > 1.5 and Income <= 116.5 and CCAvg > 3.6
there are 5 who get loan 

42] If Income > 113.5 and Education > 1.5 and Income > 116.5
there are 240 who get loan

In [58]:
model_tree.predict([[1200,3.5,2]])  # ['Income','CCAvg','Education']

array([1], dtype=int64)