In [1]:
url = 'https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-7/Assignment/general_data.csv'

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

pd.set_option('display.max_columns',None)

In [26]:
df = pd.read_csv(url)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4

In [27]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [29]:
df.dropna(inplace=True,axis=0)

In [30]:
df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [37]:
df_dumm=pd.get_dummies(df['Attrition'],drop_first = True,prefix='ATT')
print(type(df_dumm))
df_dumm.head()

<class 'pandas.core.frame.DataFrame'>

   ATT_Yes
0        0
1        1
2        0
3        0
4        0

In [49]:
df.drop(['Attrition'],inplace=True,axis=1)
df=pd.concat([df,df_dumm],axis=1)
df.head(2)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,ATT_Yes
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,1

In [53]:
'''H0 : there is no relation betn ATTrition_yes and Distance from home
   H1 : there is relation betn ATTrition_yes and Distance from home
   soln = 
    here p_value >= 0.05 so we accept H0 
    conclusion - there is no relation ATTrition_yes and Distance from home
'''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.DistanceFromHome)
r_value , p_value

(-0.009448638515156243, 0.5317715668019558)

In [54]:
'''H0 : there is no relation betn ATTrition_yes and Education
   H1 : there is relation betn ATTrition_yes and Education
   soln = 
    here p_value >= 0.05 so we accept H0 
    conclusion - there is no relation ATTrition_yes and Education
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.Education)
r_value , p_value

(-0.017106307050278727, 0.25757539308157945)

In [60]:
'''H0 : there is no relation betn ATTrition_yes and MonthlyIncome
   H1 : there is relation betn ATTrition_yes and MonthlyIncome
   soln = 
    here p_value < 0.05 so we reject  H0 
    conclusion - there is  relation ATTrition_yes and MonthlyIncome
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.MonthlyIncome)
r_value , p_value

(-0.030160293808460668, 0.045890862744719166)

In [61]:
'''H0 : there is no relation betn ATTrition_yes and NumCompaniesWorked
   H1 : there is relation betn ATTrition_yes and NumCompaniesWorked
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and NumCompaniesWorked
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.NumCompaniesWorked)
r_value , p_value

(0.042830567244720875, 0.004572057121620842)

In [63]:
'''H0 : there is no relation betn ATTrition_yes and PercentSalaryHike
   H1 : there is relation betn ATTrition_yes and PercentSalaryHike
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and PercentSalaryHike
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.PercentSalaryHike)
r_value , p_value

(0.03315303713546665, 0.028192446935106235)

In [64]:
'''H0 : there is no relation betn ATTrition_yes and StandardHours
   H1 : there is relation betn ATTrition_yes and StandardHours
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and StandardHours
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.StandardHours)
r_value , p_value

C:\Users\Icon\anaconda3\lib\site-packages\scipy\stats\stats.py:3508: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

(nan, nan)

In [65]:
df['StandardHours'].value_counts()

8    4382
Name: StandardHours, dtype: int64

In [66]:
'''H0 : there is no relation betn ATTrition_yes and YearsAtCompany
   H1 : there is relation betn ATTrition_yes and YearsAtCompany
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and YearsAtCompany
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.YearsAtCompany)
r_value , p_value

(-0.13300261842521538, 9.476118084840815e-19)

In [67]:
'''H0 : there is no relation betn ATTrition_yes and YearsSinceLastPromotion
   H1 : there is relation betn ATTrition_yes and YearsSinceLastPromotion
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and YearsSinceLastPromotion
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.YearsSinceLastPromotion)
r_value , p_value

(-0.03142315056330995, 0.03752293607395154)

In [68]:


'''H0 : there is no relation betn ATTrition_yes and YearsWithCurrManager
   H1 : there is relation betn ATTrition_yes and YearsWithCurrManager
   soln = 
    here p_value < 0.05 so we reject H0 
    conclusion - there is  relation ATTrition_yes and YearsWithCurrManager
    '''
from scipy.stats import pearsonr
r_value , p_value =pearsonr(df.ATT_Yes,df.YearsWithCurrManager)
r_value , p_value

(-0.15469153690287274, 7.105369646771178e-25)